<a href="https://colab.research.google.com/github/uvictoli/Machine_Learning/blob/main/Lv5/Lv1_%EB%AA%A8%EB%8D%B8%EB%A7%81_train_test_split()_(4).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [↩️ 리스트로 돌아가기](https://dacon.io/competitions/open/235698/overview/description)

# 셀을 실행할 때 팝업이 뜨면 `무시하고 계속하기` 를 눌러주세요

## 데이터 다운로드
--- 
아래 셀을 실행시켜 데이터를 colab에 불러옵니다.  
셀 실행은 <br>Windows: `Ctrl` + `Enter`<br>
Mac: `Shift` + `Enter` <br>
를 이용해 실행 시킬 수 있습니다.

In [1]:
# 데이터 다운로드 링크로 데이터를 코랩에 불러옵니다.

!wget 'https://bit.ly/3l6g8j3'

import zipfile
with zipfile.ZipFile('3l6g8j3', 'r') as existing_zip:
    existing_zip.extractall('data')

--2022-02-25 09:05:22--  https://bit.ly/3l6g8j3
Resolving bit.ly (bit.ly)... 67.199.248.11, 67.199.248.10
Connecting to bit.ly (bit.ly)|67.199.248.11|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://docs.google.com/uc?export=download&id=1n-cTWLp385P-DmmNuMAg6zJDw8MNAPwu [following]
--2022-02-25 09:05:22--  https://docs.google.com/uc?export=download&id=1n-cTWLp385P-DmmNuMAg6zJDw8MNAPwu
Resolving docs.google.com (docs.google.com)... 108.177.11.100, 108.177.11.101, 108.177.11.138, ...
Connecting to docs.google.com (docs.google.com)|108.177.11.100|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-0g-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/pgt6ld9qbge2g6q07f8924vfdaaasfum/1645779900000/17946651057176172524/*/1n-cTWLp385P-DmmNuMAg6zJDw8MNAPwu?e=download [following]
Warning: wildcards not supported in HTTP.
--2022-02-25 09:05:24--  https://doc-0g-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/pgt6ld9qbge2g6q07f8924vfdaaasfum/1645779900000/17946651057176172524/*/1n-cTWLp385P-DmmNuMAg6zJDw8MNAPwu?e=download
Resolving doc-0g-10-docs.googleusercontent.com (doc-0g-10-docs.googleusercontent.com)... 173.194.212.132, 2607:f8b0:400c:c11::84
Connecting to doc-0g-10-docs.googleusercontent.com (doc-0g-10-docs.googleusercontent.com)|173.194.212.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 22312699 (21M) [application/x-zip-compressed]
Saving to: ‘3l6g8j3’

3l6g8j3             100%[===================>]  21.28M  69.0MB/s    in 0.3s

2022-02-25 09:05:24 (69.0 MB/s) - ‘3l6g8j3’ saved [22312699/22312699]

In [2]:
import pandas as pd

train = pd.read_csv('data/train.csv',usecols = ['category','data'])
test = pd.read_csv('data/test.csv',usecols = ['data'])

In [3]:
# train,test 데이터에서  '\\n' 단어 제거

train['data'] = train['data'].apply(lambda x : str(x).replace('\\n',' ')) # 텍스트 데이터에서 '\\n' 문자열을 ' '로 변경
test['data'] = test['data'].apply(lambda x : str(x).replace('\\n',' ')) # 텍스트 데이터에서 '\\n' 문자열을 ' '로 변경

In [4]:
# 라이브러리 로딩
from sklearn.feature_extraction.text import TfidfVectorizer

#TF-IDF으로 train 데이터를 피처 벡터화 변환 수행

vect = TfidfVectorizer()
vect.fit(train['data'])
train_x =  vect.transform(train['data'])

print('train 데이터 사이즈', train_x.shape)

train 데이터 사이즈 (40000, 697226)

## 실습
---

In [5]:
# 라이브러리 로딩
from sklearn.model_selection import train_test_split

In [6]:
train.head()

   category                                               data
0         2  신혼부부위한 주택정책 보다 보육시설 늘려주세요.. 국민세금으로 일부를 위한 정책펴지...
1         0  학교이름에 '남자'도 붙여주세요. 울산여자중학교에 재학중인 학생입니다 최근 양성평등...
2         1  빙상연맹, 대한축구협회등 각종 체육협회의 비리를 철저하게 밝혀주세요.. 최근 동계올...
3         1  티비 12세,15세 관람가도 연령확인 의무화 하자.. 제기 에전에 티비를 보다가 잠...
4         1  무더운 여름철엔 남성들도 시원한 자율복장을 해야. 무더운 여름철에는 남성들도 노넥타...

In [11]:
# train_test_split() 메소드를 이용해 train/validation 데이터 나누기 
# stratify 옵션을 활용하여 데이터 셋 split

x_train,x_valid, y_train, y_valid = train_test_split(
    train_x, train['category'], stratify = train['category']
)

In [12]:
# y_train,y_valid 비율 확인 (value_counts())
print(y_train.value_counts())
print(y_valid.value_counts())

2    10021
1    10003
0     9976
Name: category, dtype: int64
2    3341
1    3334
0    3325
Name: category, dtype: int64

## 정답
---
스스로 실습 코드를 작성 한 후 정답 코드를 확인해 보세요.

In [9]:
#train_test_split() 메소드를 이용해 train/validation 데이터 나누기 
# stratify 옵션을 활용하여 데이터 셋 split

x_train,x_valid, y_train, y_valid = train_test_split(train_x,train['category'],stratify = train['category'])

In [10]:
# y_train,y_valid 비율 확인 (value_counts())

print(y_train.value_counts())
print(y_valid.value_counts())

2    10021
1    10003
0     9976
Name: category, dtype: int64
2    3341
1    3334
0    3325
Name: category, dtype: int64

# [↩️ 리스트로 돌아가기](https://dacon.io/competitions/open/235698/overview/description)