<a href="https://colab.research.google.com/github/uvictoli/Machine_Learning/blob/main/Lv5/Lv1_EDA_5_12_%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%88%EB%9F%AC%EC%98%A4%EA%B8%B0_(5)_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [↩️ 리스트로 돌아가기](https://dacon.io/competitions/open/235698/overview/description)

# 셀을 실행할 때 팝업이 뜨면 `무시하고 계속하기` 를 눌러주세요

## 데이터 다운로드
--- 
아래 셀을 실행시켜 데이터를 colab에 불러옵니다.  
셀 실행은 <br>Windows: `Ctrl` + `Enter`<br>
Mac: `Shift` + `Enter` <br>
를 이용해 실행 시킬 수 있습니다.

In [1]:
# 데이터 다운로드 링크로 데이터를 코랩에 불러옵니다.

!wget 'https://bit.ly/3l6g8j3'

import zipfile
with zipfile.ZipFile('3l6g8j3', 'r') as existing_zip:
    existing_zip.extractall('data')

--2022-02-21 08:59:04--  https://bit.ly/3l6g8j3
Resolving bit.ly (bit.ly)... 67.199.248.10, 67.199.248.11
Connecting to bit.ly (bit.ly)|67.199.248.10|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://docs.google.com/uc?export=download&id=1n-cTWLp385P-DmmNuMAg6zJDw8MNAPwu [following]
--2022-02-21 08:59:05--  https://docs.google.com/uc?export=download&id=1n-cTWLp385P-DmmNuMAg6zJDw8MNAPwu
Resolving docs.google.com (docs.google.com)... 74.125.142.139, 74.125.142.113, 74.125.142.100, ...
Connecting to docs.google.com (docs.google.com)|74.125.142.139|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-0g-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/74pqljrt99p1bqsdfttn30opsj2nbqal/1645433925000/17946651057176172524/*/1n-cTWLp385P-DmmNuMAg6zJDw8MNAPwu?e=download [following]
Warning: wildcards not supported in HTTP.
--2022-02-21 08:59:06--  https://doc-0g-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/74pqljrt99p1bqsdfttn30opsj2nbqal/1645433925000/17946651057176172524/*/1n-cTWLp385P-DmmNuMAg6zJDw8MNAPwu?e=download
Resolving doc-0g-10-docs.googleusercontent.com (doc-0g-10-docs.googleusercontent.com)... 74.125.195.132, 2607:f8b0:400e:c09::84
Connecting to doc-0g-10-docs.googleusercontent.com (doc-0g-10-docs.googleusercontent.com)|74.125.195.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 22312699 (21M) [application/x-zip-compressed]
Saving to: ‘3l6g8j3’

3l6g8j3             100%[===================>]  21.28M  --.-KB/s    in 0.1s

2022-02-21 08:59:06 (174 MB/s) - ‘3l6g8j3’ saved [22312699/22312699]

## 실습
---
`data` 폴더에 있는 `test.csv` 파일과 `train.csv` 파일에서 아래 5개 행을 제외하고 불러와 보세요!

In [2]:

import pandas as pd

train_skipfooter = pd.read_csv('data/train.csv', skipfooter = 5)
test_skipfooter = pd.read_csv('data/test.csv', skipfooter = 5)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

## 정답
---
스스로 실습 코드를 작성 한 후 정답 코드를 확인해 보세요.

In [3]:

import pandas as pd

train_skipfooter = pd.read_csv('data/train.csv',skipfooter=5)
test_skipfooter = pd.read_csv('data/test.csv',skipfooter=5)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [4]:
train_skipfooter.tail()

       index  category                                               data
39990  39990         2  교육비지원에 대해(가족구성원 기준). 교육비지원이 가족구성원이 수입과 지출 을 산정...
39991  39991         0  이낙연총리의고향. 영광****병원을 폐쇄시켜주십시오 불법 강제입원하는 정신병원 입니...
39992  39992         1  빙상연맹의 엄중처벌을 청원합니다. 빙상연맹의 오래 묵은 적폐와 전횡 내용을 밝혀내어...
39993  39993         2  가정양육수당을 더 지급해주세요. 요즘 어린이집 사건들이 터지면서 내 아이도 위험에 ...
39994  39994         0                     국가 보훈처는 인권탄압인 위치 동의를 폐지하라. 추가0

### skipfooter 옵션을 주지 않은 데이터와 비교 해보기
---

In [5]:
train_skipfooter.tail()

       index  category                                               data
39990  39990         2  교육비지원에 대해(가족구성원 기준). 교육비지원이 가족구성원이 수입과 지출 을 산정...
39991  39991         0  이낙연총리의고향. 영광****병원을 폐쇄시켜주십시오 불법 강제입원하는 정신병원 입니...
39992  39992         1  빙상연맹의 엄중처벌을 청원합니다. 빙상연맹의 오래 묵은 적폐와 전횡 내용을 밝혀내어...
39993  39993         2  가정양육수당을 더 지급해주세요. 요즘 어린이집 사건들이 터지면서 내 아이도 위험에 ...
39994  39994         0                     국가 보훈처는 인권탄압인 위치 동의를 폐지하라. 추가0

In [6]:
train = pd.read_csv('data/train.csv')
train.tail()

       index  category                                               data
39995  39995         2  시간유연근무제. 저는 국립대에서 일하고 있는 비정규직 근로자입니다.\n동시에  두 ...
39996  39996         0  소년법을 폐지해 주시고 부산 여중생 가해자 학생들의 강력한 처벌을 요구합니다. 소년...
39997  39997         2  무서운데 지켜야 할게 있어요 도와주세요. 안녕하세요 . 한부모엄마 입니다.\n양육비...
39998  39998         2  교복에  고정식 이름표를 달게 하는 것을 금지해 주세요.. 교복에 이름표를 박아놓아...
39999  39999         0  합의성관계 가능 나이연령을 올리십시오. 제가 형법공부를하다가 문제를풀고있는데\n금지...

# [↩️ 리스트로 돌아가기](https://dacon.io/competitions/open/235698/overview/description)